/* global */

:root {
	--gray: #afafaf;
	--dark-gray: #666666;
	--light-gray: rgb(247, 247, 247);
	--green: rgb(73, 194, 103);
	--light-green: rgb(207, 240, 215);
	--darker-green: rgb(144, 167, 150);
	--faint-shadow: rgba(0, 0, 0, 0.247);
	--sticky: #f7e998;
	--sticky-two: #f7ecb2;
	--content-width: 1200px;
	--background-fade: background-color 0.2s ease;
	--button-corners: 10px;
	--button-padding: 12px;
	--checked: #9c9360;
}
*,
html {
	font-size: 20px;
	word-wrap: break-word;
}

.hideElement {
	display: none;
}

a {
	text-decoration: none;
}

button {
	transition: var(--background-fade);
	background-color: var(--light-green);
	padding: var(--button-padding);
	border-radius: var(--button-corners);
	border: 1px solid black;
	cursor: pointer;
}
button:hover {
	background-color: var(--darker-green);
}

[contenteditable="true"] {
	outline: none;
}

/* site header */

header {
	background-color: var(--gray);
	box-shadow: 0 5px 5px var(--faint-shadow);
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
}
#headerContent {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	max-width: var(--content-width);
	padding: 25px 0;
}
#titleSection {
	display: flex;
	align-items: center;
	gap: 5px;
	font-weight: bold;
	color: var(--green);
	font-size: 60px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#buttonsSection {
	display: flex;
	align-items: center;
}

/* sidebar */

#sidebar {
	background-color: var(--dark-gray);
	width: 320px;
	display: flex;
	flex-direction: column;
	height: 100vh;
	position: fixed;
	z-index: 1;
	color: var(--light-gray);
	top: 0;
	left: 0;
}
#sidebar > div:first-child {
	margin-top: 110px;
}
#sidebar > button:first-child {
	margin-top: 130px;
}
#addButton {
	padding: 12px 40px;
	margin: 18px auto 0 auto;
}

#sidebar p {
	padding: 18px 20px;
	font-size: 30px;
	cursor: pointer;
}

.sideNameContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--dark-gray);
	transition: var(--background-fade);
}
.sideNameContainer:hover {
	background-color: rgb(126, 126, 126);
}
.sideNameContainer p {
	max-width: 17ch;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.trash {
	content: url(/img/trash.svg);
	width: 35px;
	height: 35px;
	background-color: rgb(255, 80, 80);
	border-radius: 10px;
	margin: 0 20px;
	cursor: pointer;
}

/* todolist display */

#todolist {
	max-width: var(--content-width);
	min-height: 815px;
	margin: 130px auto 0 auto;
	background-color: var(--sticky);
	box-shadow: 5px 5px 5px var(--faint-shadow);
	position: relative;
}
.title {
	background-color: var(--sticky-two);
	padding: 40px 50px;
	font-size: 40px;
}

.tasks {
	font-size: 30px;
	padding: 20px 50px;
}
.pointContainer {
	display: flex;
	align-items: center;
	gap: 15px;
}
.checkbox {
	content: "";
	display: inline-block;
	border: 1px solid black;
	border-radius: 5px;
	width: 20px;
	height: 20px;
}
.checkbox:hover {
	content: url(img/check.svg);
	cursor: pointer;
}
.point {
	position: relative;
	transition: color 0.2s ease-in;
	padding: 10px;
	max-width: 60ch;
}
.checkedPoint {
	color: var(--checked);
	margin-left: 42px;
}
.crossLine {
	content: "";
	border: 1px solid var(--checked);
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
}

#saveChangesButton {
	position: absolute;
	bottom: 30px;
	right: 40px;
}
.tick {
	content: url(img/check.svg);
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
	position: absolute;
	right: 210px;
	bottom: 30px;
}

#pointInputField {
	font-size: 30px;
	background: none;
	border: none;
	border-bottom: 1px solid black;
	padding: 10px 47px;
	margin: 0 50px 50px 50px;
}
#pointInputField:focus {
	outline: none;
	border-bottom: 2px solid black;
}
/* JS modals */

.grayBg {
	background-color: rgba(0, 0, 0, 0.281);
	position: fixed;
	inset: 0;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
}
.modalBox {
	background-color: white;
	border-radius: 20px;
	padding: 50px;
}
#modalButtons {
	display: flex;
	justify-content: flex-end;
	margin-top: 30px;
	gap: 15px;
}
#nameFromModal,
#areYouSure {
	font-size: 30px;
	border-top: none;
	border-left: none;
	border-right: none;
	padding: 5px;
}
